<%= form_with model: @post do |form| %>
  <label>Post title:</label><br>
  <%= form.text_field :title, id: 'title' %><br>
  <label>Post Description</label><br>
  <%= form.text_area :description, id: 'description' %><br>
  <%= form.submit "Submit Post" %>
<% end %>
